<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__logo">
        <a href="#">
          <img src="../assets/img/logo.png" alt="Zalupa">
        </a>
      </div>
      <nav class="nav">
        <a *ngFor="let navItem of navItems" href="#" class="nav__link"> 
          {{navItem}}
        </a>        
      </nav>
      <div class="burger" (click) = "onClick()">burger</div>
    </div>
  </div>
</header>

<div class="intro">
  <div class="intro__inner">
    <div class="intro__title">
      Your Favorite One Page Multi Purpose Template
    </div>
    <div class="intro__subtitle">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Praesent commodo cursus magna vel scelerisque nisl consectetur et.
    </div>
    <button class="intro__btn" type="button">
      Find Out More
    </button>
  </div>
</div>
