<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__item">
                <div class="footer__title">Location</div>
                <div class="footer__subtitle">
                    3481 Melrose Place 
                    <p>Beverly Hills, CA 90210</p>
                </div>
            </div>
            <div class="footer__item">
                <div class="footer__title">Share With Love</div>
                <div class="footer__subtitle">
                    <div class="social">
                        <a class="social__item social--footer" href="#">
                            <svg class="social__icon social__icon--footer">
                                <use xlink:href="#facebook"></use>
                            </svg>
                        </a>
                        <a class="social__item social--footer" href="#">
                            <svg class="social__icon social__icon--footer">
                                <use xlink:href="#twiter"></use>
                            </svg>
                        </a>
                        <a class="social__item social--footer" href="#">
                            <svg class="social__icon social__icon--footer">
                                <use xlink:href="#linkedin"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer__item">
                <div class="footer__title">About Activebox</div>
                <div class="footer__subtitle">
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. 
                    Donec ullamcorper nulla non metus auctor fringilla.
                </div>
            </div>
        </div>        
    </div>
    <div class="copyright">
        <div>Copyright © 2015 ActiveBox. All Rights Reserved</div>
        <div>Made with <span class="kamal">by Kamal Chaneman</span></div>
    </div>
</footer>