<div class="container">
    <div class="features">
        <div class="features__item">
            <img src="../../assets/img/features/img-1.png" alt="">
            <h4 class="features__title">Easily Customised</h4>
            <p class="features__text">
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. 
                Nullam quis risus eget urna mollis ornare vel eu leo. 
                Donec ullamcorper nulla 
            </p>
        </div>
        <div class="features__item">
            <img src="../../assets/img/features/img-2.png" alt="">
            <h4 class="features__title">Responsive REady</h4>
            <p class="features__text">
                    Cras justo odio, dapibus ac facilisis in, egestas eget 
                    quam. Nullam quis risus eget urna mollis ornare 
                    vel eu leo. Donec ullamcorper nulla  
            </p>
        </div>
        <div class="features__item">
            <img src="../../assets/img/features/img-3.png" alt="">
            <h4 class="features__title">Modern Design</h4>
            <p class="features__text">
                    Cras justo odio, dapibus ac facilisis in, egestas eget 
                    quam. Nullam quis risus eget urna mollis ornare 
                    vel eu leo. Donec ullamcorper nulla  
            </p>
        </div>
        <div class="features__item">
            <img src="../../assets/img/features/img-4.png" alt="">
            <h4 class="features__title">Clean Code</h4>
            <p class="features__text">
                    Cras justo odio, dapibus ac facilisis in, egestas eget 
                    quam. Nullam quis risus eget urna mollis ornare 
                    vel eu leo. Donec ullamcorper nulla  
            </p>
        </div>
        <div class="features__item">
            <img src="../../assets/img/features/img-5.png" alt="">
            <h4 class="features__title">Ready to Ship</h4>
            <p class="features__text">
                    Cras justo odio, dapibus ac facilisis in, egestas eget 
                    quam. Nullam quis risus eget urna mollis ornare 
                    vel eu leo. Donec ullamcorper nulla  
            </p>
        </div>
        <div class="features__item">
            <img src="../../assets/img/features/img-6.png" alt="">
            <h4 class="features__title">Download for Free</h4>
            <p class="features__text">
                    Cras justo odio, dapibus ac facilisis in, egestas eget 
                    quam. Nullam quis risus eget urna mollis ornare 
                    vel eu leo. Donec ullamcorper nulla  
            </p>
        </div>
    </div>
</div>