<div class="client">
    <div class="container">
        <div class="client__item">
            <div class="client__photo">
                <img src="../../assets/img/clients/client-1.png" alt="">
            </div>
            <div class="client__content">
                <div class="client__text">
                    “Integer posuere erat a ante venenatis dapibus posuere 
                    velit aliquet. Donec sed odio dui. Aenean eu leo quam...”
                </div>
                <div class="client__author">
                    Susan Sims, Interaction Designer at XYZ
                </div>
            </div>
        </div>
    </div>
</div>

<div class="download">
    <div class="container">
        <div class="download__title">
            Are You Ready to Start? Download Now For Free!
        </div>
        <div class="download__text">
            Fusce dapibus, tellus ac cursus commodo
        </div>
        <button class="download__button" type="button">Download Here</button>
    </div>
</div>