<div class="works">
    <div class="works__item">
        <img src="../../assets/img/works/img-1.png" alt="">
        <div class="works__content">
            <div class="works__title">Project Name</div>
            <div class="works__text">User Interface Design</div>
        </div>
    </div>
    <div class="works__item">
        <img src="../../assets/img/works/img-2.png" alt="">
        <div class="works__content">
            <div class="works__title">Project Name</div>
            <div class="works__text">User Interface Design</div>
        </div>
    </div>
    <div class="works__item">
        <img src="../../assets/img/works/img-2.png" alt="">
        <div class="works__content">
            <div class="works__title">Project Name</div>
            <div class="works__text">User Interface Design</div>
        </div>
    </div>
    <div class="works__item">
        <img src="../../assets/img/works/img-4.png" alt="">
        <div class="works__content">
            <div class="works__title">Project Name</div>
            <div class="works__text">User Interface Design</div>
        </div>
    </div>
    <div class="works__item">
        <img src="../../assets/img/works/img-5.png" alt="">
        <div class="works__content">
            <div class="works__title">Project Name</div>
            <div class="works__text">User Interface Design</div>
        </div>
    </div>
    <div class="works__item">
        <img src="../../assets/img/works/img-6.png" alt="">
        <div class="works__content">
            <div class="works__title">Project Name</div>
            <div class="works__text">User Interface Design</div>
        </div>
    </div>
    <div class="works__item">
        <img src="../../assets/img/works/img-7.png" alt="">
        <div class="works__content">
            <div class="works__title">Project Name</div>
            <div class="works__text">User Interface Design</div>
        </div>
    </div>
    <div class="works__item">
        <img src="../../assets/img/works/img-8.png" alt="">
        <div class="works__content">
            <div class="works__title">Project Name</div>
            <div class="works__text">User Interface Design</div>
        </div>
    </div>
</div>
